@import "../general/mixins.scss";
@import "../general/variables.scss";

.advantages__list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;

  &--space,
  &--road,
  &--tourists {
    background-color: $color-gallery;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 256px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 400px;
  }
}

.advantages__title {
  @include heading-font;
  text-align: center;
  margin: 0;
  padding-top: 24px;

  &--real-city {
    @include heading-font;
    text-align: center;
    margin: 0;
    padding-top: 54px;

    @media (min-width: $tablet-width) {
      padding-top: 42px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 52px;
    }
  }

  &--bridge {
    @include heading-font;
    text-align: center;
    margin: 0;
    padding-top: 37px;

    @media (min-width: $desktop-width) {
      padding-top: 52px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 180px;
    text-align: center;
    margin: 0 auto;
  }
}

.advantages__wrapper {
  margin: 0 auto;
}

.advantages__sedona-city-photo {
  object-fit: cover;
  height: 260px;

  @media (min-width: $tablet-width) {
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
  }
}

.advantages__sedona-bridge-photo {
  object-fit: cover;
  height: 260px;

  @media (min-width: $tablet-width) {
    width: 512px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    object-position: 50% -14px;
  }
}

.advantages__number {
  @include basic-font;
  text-align: center;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 25px;
  color: $color-mine-shaft;

  &--real-city {
    color: $color-white;
  }
}

.advantages__description {
  @include basic-font;
  text-align: center;
  margin: 0;
  padding-bottom: 37px;
  color: $color-mine-shaft;

  &--tourists {
    padding-bottom: 28px;
  }

  &--space,
  &--road {
    position: relative;
  }

  &--space::after,
  &--road::after {
    position: absolute;
    height: 1px;
    width: 284px;
    background: $color-alto;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
  }

  &--real-city {
    color: $color-white;
  }

  @media (min-width: $tablet-width) {
    width: 190px;
    margin: 0 auto;
    padding: 0;

    &--space::after,
    &--road::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.advantages__item-with-photo {
  background-color: $color-sedona-blue;
  color: $color-white;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
  }
}

.advantages__item-with-bridge-photo {
  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}
