@import "../general/mixins.scss";
@import "../general/variables.scss";

.developed-by__link {
  @include basic-font;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0;
  gap: 12px;
  color: $color-black;

  &:hover {
    color: $color-sedona-blue;
    fill: $color-sedona-blue;
  }

  &:active {
    color: #b3b3b3;
    fill: #b3b3b3;
  }

  @media (min-width: $desktop-width) {
    margin-right: 17px;
    padding-top: 3px;
  }
}

.developed-by__icon {
  display: block;
  width: 27px;
  height: 35px;
}
