@import "../general/mixins.scss";
@import "../general/variables.scss";

.feedback__article {
  text-align: center;
  border-bottom: solid 1px $color-mercury;

  @media (min-width: $tablet-width) {
    border-bottom: none;
  }
}

.feedback__article-title {
  @include heading-font;
  margin: 0;
  padding-top: 36px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 115px;
  }
}

.feedback__article-text {
  @include basic-font;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    width: 435px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
  }
}

.feedback__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    padding-top: 52px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 18px;
  }
}

.feedback__radio-list {
  display: flex;
  gap: 36px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 538px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 7px;
    padding-right: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 853px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 25px;
    padding-right: 3px;
  }
}

.feedback__checkbox-list {
  display: flex;
  gap: 36px;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 490px;
    margin: 0 auto;
    margin-left: 88px;
  }

  @media (min-width: $desktop-width) {
    width: 910px;
    margin-left: 123px;
    gap: 18px;
  }
}

.feedback__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 20px;
  border: none;

  &--name {
    padding-bottom: 41px;
    gap: 16px;
    border-bottom: solid 1px $color-mercury;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &--contacts {
    position: relative;
    padding-bottom: 16px;
    border-bottom: solid 1px $color-mercury;

    @media (min-width: $tablet-width) {
      border-bottom: none;
      padding-right: 50px;

      &::before {
        position: absolute;
        bottom: 26px;
        left: -3px;
        height: 338px;
        width: 1px;
        background-color: #dbdbdb;
        content: "";
      }
    }

    @media (min-width: $desktop-width) {
      padding-right: 70px;

      &::before {
        position: absolute;
        bottom: 26px;
        left: -45px;
        height: 338px;
        width: 1px;
        background-color: #dbdbdb;
        content: "";
      }
    }
  }

  &--impression,
  &--sight {
    position: relative;
    border-bottom: solid 1px $color-mercury;
    padding-bottom: 16px;

    @media (min-width: $tablet-width) {
      border-bottom: none;
    }
  }

  &--impression {
    padding-bottom: 33px;

    @media (min-width: $tablet-width) {
      &::before {
        position: relative;
        bottom: 45px;
        left: 41px;
        height: 1px;
        width: 123px;
        background-color: #dbdbdb;
        content: "";
      }

      &::after {
        position: relative;
        bottom: 141px;
        left: 565px;
        height: 1px;
        width: 123px;
        background-color: #dbdbdb;
        content: "";
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        position: relative;
        bottom: 45px;
        left: 100px;
        height: 1px;
        width: 280px;
        background-color: #dbdbdb;
        content: "";
      }

      &::after {
        position: relative;
        bottom: 158px;
        left: 779px;
        height: 1px;
        width: 280px;
        background-color: #dbdbdb;
        content: "";
      }
    }
  }

  &--sight {
    padding-bottom: 32px;

    @media (min-width: $tablet-width) {
      &::before {
        position: relative;
        bottom: 68px;
        left: 41px;
        height: 1px;
        width: 123px;
        background-color: #dbdbdb;
        content: "";
      }

      &::after {
        position: relative;
        bottom: 157px;
        left: 565px;
        height: 1px;
        width: 123px;
        background-color: #dbdbdb;
        content: "";
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        position: relative;
        bottom: 100px;
        left: 100px;
        height: 1px;
        width: 280px;
        background-color: #dbdbdb;
        content: "";
      }

      &::after {
        position: relative;
        bottom: 126px;
        left: 779px;
        height: 1px;
        width: 280px;
        background-color: #dbdbdb;
        content: "";
      }
    }
  }

  &--emotions {
    position: relative;

    @media (min-width: $tablet-width) {
      &::before {
        position: relative;
        bottom: 46px;
        left: 41px;
        height: 1px;
        width: 123px;
        background-color: #dbdbdb;
        content: "";
      }

      &::after {
        position: relative;
        bottom: 211px;
        left: 565px;
        height: 1px;
        width: 123px;
        background-color: #dbdbdb;
        content: "";
      }
    }

    @media (min-width: $desktop-width) {
      &::before {
        position: relative;
        bottom: 45px;
        left: 100px;
        height: 1px;
        width: 280px;
        background-color: #dbdbdb;
        content: "";
      }

      &::after {
        position: relative;
        bottom: 210px;
        left: 779px;
        height: 1px;
        width: 280px;
        background-color: #dbdbdb;
        content: "";
      }
    }
  }

  &--submit {
    display: flex;
    gap: 0;
    padding-top: 52px;
    padding-bottom: 19px;

    @media (min-width: $tablet-width) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 42px;
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 216px;
      padding-right: 216px;
    }
  }
}

.feedback__legend {
  @include heading-font;
  margin: 0 auto;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 19px;

  &--impression {
    padding-bottom: 30px;
  }

  &--sight {
    padding-top: 25px;
    padding-bottom: 31px;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;

    &--name {
      margin-left: 32px;
      padding-bottom: 28px;
      width: 275px;
    }

    &--contacts {
      padding-bottom: 28px;
      padding-right: 18px;
    }

    &--sight {
      width: 308px;
      padding-bottom: 40px;
    }

    &--emotions {
      padding-top: 17px;
      padding-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    &--name {
      margin-left: 62px;
      padding-bottom: 28px;
      width: 410px;
    }

    &--contacts {
      padding-bottom: 28px;
      padding-right: 105px;
      margin-left: 20px;
    }

    &--impression {
      padding-top: 30px;
    }

    &--sight {
      padding-top: 50px;
      padding-bottom: 71px;
    }

    &--emotions {
      padding-top: 60px;
    }
  }
}

.feedback__field {
  &--name {
    @include basic-font;
    display: flex;
    flex-direction: column;
    color: $color-mine-shaft;
    padding-left: 16px;

    @media (min-width: $tablet-width) {
      margin-left: 26px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 52px;
    }
  }

  &--contacts {
    @include basic-font;
    display: flex;
    position: relative;
    flex-direction: column;
    color: $color-mine-shaft;
    padding-left: 16px;

    @media (min-width: $tablet-width) {
      margin-left: 23px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 0;
    }
  }

  &--contacts-mail {
    padding-top: 17px;
    padding-bottom: 19px;
  }

  &--impression,
  &--sight {
    @include heading-font;
    text-transform: none;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    &--sight-bridge {
      padding-left: 10px;
    }

    &--sight-kolokol {
      padding-right: 6px;
    }

    &--sight-slidepark {
      padding-left: 17px;
    }

    &--sight-rocks {
      padding-left: 35px;
    }
  }

  @media (min-width: $desktop-width) {
    &--sight-bridge {
      padding-left: 3px;
    }

    &--sight-kolokol {
      padding-left: 6px;
      padding-right: 6px;
    }

    &--sight-slidepark {
      padding-left: 0;
    }

    &--sight-rocks {
      padding-left: 6px;
    }
  }
}

.feedback__input {
  transition: 100ms all ease;

  &--name {
    @include heading-font;
    display: block;
    text-transform: none;
    background-color: $color-concrete;
    border: none;
    margin: 0;
    padding: 16px;
    margin-left: -16px;

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
  }

  &--contacts {
    @include heading-font;
    display: block;
    text-transform: none;
    background-color: $color-concrete;
    border: none;
    margin: 0 0 0 -16px;
    padding: 16px;
    padding-right: 0;
    border-right: 58px solid $color-whisper;

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
  }

  &:hover {
    background-color: #e5e5e5;
  }

  &:focus {
    background-color: $color-white;
    box-shadow: inset 0 0 0 4px #e5e5e5;
    outline: none;
  }

  &:active {
    background-color: $color-white;
    box-shadow: inset 0 0 0 4px #e5e5e5;
  }
}

.feedback__submit-button {
  @include heading-big-font;
  padding: 16px 0;

  @media (min-width: $tablet-width) {
    padding: 16px 71px;
  }

  @media (min-width: $desktop-width) {
    padding: 16px 101px;
  }
}

.feedback__note {
  @include basic-font;
  font-size: 12px;
  text-align: right;
  padding-top: 2px;
  color: rgba(51, 51, 51, 0.6);

  @media (min-width: $tablet-width) {
    font-size: 14px;
    padding-top: 5px;
  }
}

.feedback__phone-icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 20px;
  bottom: 20px;

  @media (min-width: $tablet-width) {
    right: 19px;
    bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    right: 21px;
    bottom: 21px;
  }
}

.feedback__mail-icon {
  display: block;
  width: 17px;
  height: 17px;
  position: absolute;
  right: 20px;
  bottom: 40px;

  @media (min-width: $tablet-width) {
    right: 19px;
    bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    right: 22px;
    bottom: 41px;
  }
}
