@import "../general/mixins.scss";
@import "../general/variables.scss";

.gallery-card {
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  border-bottom: solid 1px $color-mercury;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.gallery-card img {
  display: block;
}

.gallery-card__description {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    background-color: $color-concrete;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: -83px;
  }
}

.gallery-card__name {
  @include basic-font;
  font-weight: 700;
  margin: 0;
  padding-top: 12px;

  @media (min-width: $tablet-width) {
    padding-top: 21px;
    padding-left: 20px;
  }

  @media (min-width: $desktop-width) {
    color: $color-white;
    padding-top: 20px;
    padding-left: 20px;
  }
}

.gallery-card__author {
  @include basic-font;
  text-transform: none;
  margin: 0;
  padding-top: 5px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-bottom: 18px;
  }

  @media (min-width: $desktop-width) {
    color: $color-white;
    padding-bottom: 16px;
  }
}

.gallery-card__likes {
  @include basic-font;
  display: flex;
  gap: 2px;
  padding-top: 16px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-right: 20px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    color: $color-white;
  }
}

.gallery-card__likes-button {
  position: relative;
  bottom: 5px;
  right: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.gallery-card__like-icon {
  display: block;
  width: 23px;
  height: 21px;
  fill: $color-black;
  opacity: 0.3;

  &:active {
    opacity: 0.1;
  }

  @media (min-width: $desktop-width) {
    fill: $color-white;
    opacity: 1;

    &:active {
      opacity: 0.5;
    }
  }
}
