@import "../general/mixins.scss";
@import "../general/variables.scss";

.gallery-card {
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  border-bottom: solid 1px $color-mercury;

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.gallery-card__description {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    background-color: $color-concrete;
  }
}

.gallery-card__image {
  object-fit: cover;
  height: 280px;
  width: 280px;

  @media (min-width: $tablet-width) {
    height: 267px;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    height: 267px;
    width: 400px;
  }

  &--large {
    @media (min-width: $tablet-width) {
      height: 400px;
      width: 648px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
    }
  }
}

.gallery-card__name {
  @include basic-font;
  font-weight: 700;
  margin: 0;
  padding-top: 12px;
}

.gallery-card__author {
  @include basic-font;
  text-transform: none;
  margin: 0;
  padding-top: 5px;
}

.gallery-card__likes {
  @include basic-font;
  display: flex;
  align-items: center;
  gap: 14px;
  padding-top: 16px;
  font-weight: 700;
}
