@import "./general/mixins.scss";
@import "../general/variables.scss";

.hotel-search__header {
  @include heading-big-font;
  text-align: center;
  margin: 0;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-top: 61px;
  }
}

.hotel-search__text {
  @include basic-font;
  text-align: center;
  margin: 0;
  padding-bottom: 34px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    width: 435px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 31px;
    padding-bottom: 47px;
  }
}

.hotel-search__button {
  @include heading-big-font;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  margin: 0 18px;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin: 0 auto;
  }
}

.hotel-search__map-wrapper {
  margin-top: 49px;
  background-image: url("../../img/map-mobile.png");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    margin-top: 58px;
    background-image: url("../../img/map-desktop.jpg");
    background-position: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 66px;
    background-image: url("../../img/map-desktop.jpg");
  }
}

.hotel-search__map {
  display: block;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
