@import "../general/variables.scss";

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-header__logo {
  position: absolute;

  @media (min-width: $tablet-width) {
    z-index: 1;
  }
}

.main-header__nav-toggle {
  position: relative;
  padding: 0;
  top: 14px;
  left: 129px;
  width: 22px;
  height: 24px;
  border: none;
  background-image: url("../../img/menu-icon.svg");
  background-color: $color-white;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .main-header__nav-toggle {
    visibility: hidden;
  }
}
