.modal-display {
  display: none; // скрывает модалки и overlay
}

.modal-display__failure {
  display: none; // скрывает modal__failure
}

.modal-display__success {
  display: none; // скрывает modal__success
}
