@import "../general/mixins.scss";
@import "../general/variables.scss";

.page-footer {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__hashtag {
  @include heading-big-font;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding-top: 28px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 60px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 119px;
    padding: 0;
  }
}

.page-footer__developed-by {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin: 0 70px 0 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 130px 0 0;
    padding: 0;
  }
}
