@import "./general/mixins.scss";
@import "./general/variables.scss";

.page-footer {
  display: flex;
  flex-direction: column;
}

.page-footer__hashtag {
  @include heading-big-font;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding-top: 38px;
  color: $color-black;
}

.page-footer__social {
  list-style: none;
}

.page-footer__developed-by {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-bottom: 22px;
}

.developed-by__link {
  @include basic-font;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0;
  gap: 6px;
  color: $color-black;
}
