@import "../general/mixins.scss";
@import "../general/variables.scss";

.page-footer {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px 0 60px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 120px 0 120px;
  }
}

.page-footer__hashtag {
  @include heading-big-font;
  text-align: center;
  text-decoration: none;
  margin: 0;
  padding-top: 34px;
  transition: 100ms all ease;
  color: $color-black;

  &:hover {
    color: $color-sedona-blue;
  }

  &:active {
    color: #b3b3b3;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 5px 0 0 0;
  }
}

.page-footer__developed-by {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    padding-top: 4px;
  }
}
