@import "../general/mixins.scss";
@import "../general/variables.scss";

.page-article__title {
  @include heading-font;
  margin: 0;
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    padding-top: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}

.page-article__text {
  @include basic-font;
  color: $color-mine-shaft;
  margin: 0;
  padding-top: 37px;
  padding-bottom: 47px;

  @media (min-width: $tablet-width) {
    width: 440px;
    margin: 0 auto;
    padding-bottom: 90px;
  }
}
