@import "../general/mixins.scss";
@import "../general/variables.scss";

.social {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 35px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
    margin-bottom: 36px;
    padding-left: 8px;

    &--catalog {
      padding-left: 0;
      padding-right: 10px;
    }

    &--form {
      margin-top: 36px;
      padding-left: 0;
      padding-right: 10px;
    }
  }
}

.social__icon {
  display: block;
  width: 48px;
  height: 48px;
  fill: $color-white;
  background-color: $color-sedona-blue;
  transition: 100ms all ease;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    fill: rgba(255, 255, 255, 0.3);
  }
}
