@import "../general/mixins.scss";
@import "../general/variables.scss";

.sublist {
  background-color: $color-white;
  color: $color-black;
  padding-top: 36px;
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
  }
}

.sublist__item-title {
  @include heading-font;
}

.sublist__item-description {
  @include basic-font;
  padding-top: 16px;
  color: $color-mine-shaft;
}

.sublist__item--food {
  padding: 25px 0;
}
