@import "../general/variables.scss";

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 85px;
  background-image: url("../../img/background-sedona-picture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-mine-shaft;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background-sedona-picture@2x.jpg");
  }

  &--catalog,
  &--form {
    padding-top: 52px;
    padding-bottom: 67px;
  }
}

@media (min-width: $tablet-width) {
  .welcome-section__logo {
    width: 461px;
    height: 350px;
  }
}

.welcome-section__index-triangle {
  position: absolute;
  top: 525px;
  fill: $color-white;

  &--catalog {
    fill: black;
  }

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    top: 389px;
    width: 320px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 768px;
  }
}

.welcome-section__catalog-triangle,
.welcome-section__form-triangle {
  position: absolute;
  fill: $color-white;
  top: 337px;

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    top: 158px;
    width: 320px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 768px;
  }
}
