@import "../general/variables.scss";

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 77px;
  padding-bottom: 91px;
  background-image: url("../../img/background-sedona-picture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-mine-shaft;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/background-sedona-picture@2x.jpg");
  }

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    padding-top: 90px;
    padding-bottom: 85px;
  }

  &--catalog,
  &--form {
    padding-top: 52px;
    padding-bottom: 67px;

    @media (min-width: $mobile-width) and (max-width: $tablet-width) {
      background-position: bottom;
      background-size: 280%;
    }

    @media (min-width: $tablet-width) {
      background-position: bottom;
      background-size: 157%;
    }

    @media (min-width: $desktop-width) {
      background-size: 100%;
      padding-bottom: 78px;
    }
  }
}

@media (min-width: $tablet-width) {
  .welcome-section__logo {
    width: 461px;
    height: 350px;
  }
}

.welcome-section__index-triangle {
  position: absolute;
  top: 518px;
  fill: $color-white;

  &--catalog {
    fill: #000000;
  }

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    top: 389px;
    width: 320px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.welcome-section__catalog-triangle,
.welcome-section__form-triangle {
  position: absolute;
  fill: $color-white;
  top: 290px;

  @media (min-width: $mobile-width) and (max-width: $tablet-width) {
    top: 158px;
    width: 320px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    top: 301px;
  }
}
