@import "./mixins.scss";
@import "./variables.scss";

html {
  height: 100%;
}

body {
  margin: 0 auto;
  max-width: 320px;
  background-color: $color-concrete;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;

    .page__wrapper {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    }
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
